USE [master]
GO
/****** Object:  Database [Tp7_ToDoList]    Script Date: 25/8/2025 16:25:20 ******/
CREATE DATABASE [Tp7_ToDoList]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tp7- Repaso - ToDo List(Prog)', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Tp7- Repaso - ToDo List(Prog).mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tp7- Repaso - ToDo List(Prog)_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Tp7- Repaso - ToDo List(Prog)_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tp7_ToDoList].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tp7_ToDoList]
GO
/****** Object:  User [alumno]    Script Date: 25/8/2025 16:25:20 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 25/8/2025 16:25:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NULL,
	[Descripcion] [varchar](50) NULL,
	[Fecha] [datetime] NULL,
	[Finalizado] [bit] NULL,
	[IdUsuario] [int] NULL,
 CONSTRAINT [PK_Tareas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 25/8/2025 16:25:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Contraseña] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Foto] [varchar](50) NULL,
	[UltimoInicio] [datetime] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Username], [Contraseña], [Nombre], [Apellido], [Foto], [UltimoInicio]) VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Usuarios] ([Id], [Username], [Contraseña], [Nombre], [Apellido], [Foto], [UltimoInicio]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Usuarios] ([Id], [Username], [Contraseña], [Nombre], [Apellido], [Foto], [UltimoInicio]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD  CONSTRAINT [FK_Tareas_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Tareas] CHECK CONSTRAINT [FK_Tareas_Usuarios]
GO
USE [master]
GO
