@{
    ViewData["Title"] = "Index";
}
 <link rel="stylesheet" href="style.css">
<section class = "Registrar">
    <h1>Login</h1>
    
 <form method="post" action = '@Url.Action("Registrarse2", "Account")'>
<p>

 Usuario: <textarea name="UserName" id="IdUserName" rows="10" cols="10"></textarea>

 Contrase単a: <textarea name="Contrase単a" id="IdContrase単a" rows="10" cols="10">
</textarea>
Nombre: <textarea name="Nombre" id="IdUserName" rows="10" cols="10"></textarea>

 Apellido: <textarea name="Apellido" id="IdContrase単a" rows="10" cols="10">
</textarea>
Foto: <textarea name="Foto" id="IdUserName" rows="10" cols="10"></textarea>

<input type="submit" value=" Enviar">

</p>
  </form>


 





</section>